<div id="wrapper">
    <%- partial('./../partials/header.ejs') %>
        <!-- /. NAV TOP  -->
        <%- partial('./../partials/sidebar.ejs') %>
            <!-- /. NAV SIDE  -->
            <div id="page-wrapper">
                <table id="dataTable" class="table table-striped table-bordered wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>name</th>
                            <th>phone</th>
                            <th>Appointment Date</th>
                            <th>Created At</th>    
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>name</th>
                            <th>phone</th>
                            <th>Appointment Date</th>
                            <th>Created At</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <% for (var i = 0; i < all_users.length; i++) { %>
                            <tr class="linkable-item">
                                <td>
                                    <a href="<%= (all_users[i].service && all_users[i].service.id) ? '../appointment/service' : '../appointment/product' %>/<%=all_users[i].id%>" target="_blank"><button style="min-width:100px;" class="btn btn-primary">View</button></a>
                                </td>
                                <td>
                                    <a href="../appointment/customer/<%=all_users[i].customer.id%>" target="_blank"><%=all_users[i].customer.name %></a>
                                </td>
                                <td>
                                     <!-- <a href="../appointment/phone/<%=all_users[i].customer.phone %>" target="_blank"><%=all_users[i].customer.phone %></a> -->
                                     <%=all_users[i].customer.phone %>
                                </td>
                                <td>
                                    <%= moment.unix(all_users[i].appt_date).format("llll") %>
                                </td>
                                <td>
                                    <%= (all_users[i].appt_status &&all_users[i].appt_status.name) ? all_users[i].appt_status.name : ""%>
                                </td>
                            </tr>
                        <%}%>

                    </tbody>
                </table>
            </div>
            <!-- /. PAGE WRAPPER  -->
</div>


<script>
    setInterval(function(){
        console.log('lalla');
        location = ''
    },60000)
</script>